
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:ghostwhite; text-align:center;">Services</h2>
<div class="container" style="background-color:antiquewhite; color:black; margin-bottom:40px;">

    <div class="row">

        <div class="col-sm-2 col-md-4">
            <h4 style="text-align:center">Wellness Programs and Vaccinations</h4>
            <img src="~/Images/1.png" class="img-responsive" style="display: block; margin: auto;"/>
            <br />
            <p>Nam bibendum mauris a maximus commodo. Ut vel lorem euismod, auctor lorem quis, vestibulum purus. Ut et imperdiet eros. Morbi euismod ipsum vitae vulputate venenatis. Curabitur sed velit ornare, fermentum purus ac, auctor magna. Proin iaculis lorem pretium est volutpat gravida. Quisque cursus libero blandit egestas rutrum. Donec cursus sit amet urna quis bibendum.</p>
        </div>

        <div class="col-sm-2 col-md-4">
            <h4 style="text-align:center">Spaying and Neutering</h4>
            <img src="~/Images/2.png" class="img-responsive" style="display: block; margin: auto;"/>
            <br />
            <p>Nam bibendum mauris a maximus commodo. Ut vel lorem euismod, auctor lorem quis, vestibulum purus. Ut et imperdiet eros. Morbi euismod ipsum vitae vulputate venenatis. Curabitur sed velit ornare, fermentum purus ac, auctor magna. Proin iaculis lorem pretium est volutpat gravida. Quisque cursus libero blandit egestas rutrum. Donec cursus sit amet urna quis bibendum.</p>
        </div>

        <div class="visible-sm">
            <div class="clearfix">&nbsp;</div>
        </div>

        <div class="col-sm-2 col-md-4">
            <h4 style="text-align:center">Dental Care</h4>
            <img src="~/Images/3.png" class="img-responsive" style="display: block; margin: auto;"/>
            <br />
            <p>Nam bibendum mauris a maximus commodo. Ut vel lorem euismod, auctor lorem quis, vestibulum purus. Ut et imperdiet eros. Morbi euismod ipsum vitae vulputate venenatis. Curabitur sed velit ornare, fermentum purus ac, auctor magna. Proin iaculis lorem pretium est volutpat gravida. Quisque cursus libero blandit egestas rutrum. Donec cursus sit amet urna quis bibendum.</p>
        </div>

        <div class="visible-md visible-lg">
            <div class="clearfix">&nbsp;</div>
        </div>

        <div class="col-sm-2 col-md-4">
            <h4 style="text-align:center">Additional Veterinary Services</h4>
            <img src="~/Images/4.png" class="img-responsive" style="display: block; margin: auto;"/>
            <br />
            <p>Nam bibendum mauris a maximus commodo. Ut vel lorem euismod, auctor lorem quis, vestibulum purus. Ut et imperdiet eros. Morbi euismod ipsum vitae vulputate venenatis. Curabitur sed velit ornare, fermentum purus ac, auctor magna. Proin iaculis lorem pretium est volutpat gravida. Quisque cursus libero blandit egestas rutrum. Donec cursus sit amet urna quis bibendum.</p>
        </div>

        <div class="col-sm-2 col-md-4">
            <h4 style="text-align:center">Resort and Spa</h4>
            <img src="~/Images/5.png" class="img-responsive" style="display: block; margin: auto;"/>
            <br />
            <p>Nam bibendum mauris a maximus commodo. Ut vel lorem euismod, auctor lorem quis, vestibulum purus. Ut et imperdiet eros. Morbi euismod ipsum vitae vulputate venenatis. Curabitur sed velit ornare, fermentum purus ac, auctor magna. Proin iaculis lorem pretium est volutpat gravida. Quisque cursus libero blandit egestas rutrum. Donec cursus sit amet urna quis bibendum.</p>
        </div>

        <div class="col-sm-2 col-md-4">
            <h4 style="text-align:center">International Travel Documents</h4>
            <img src="~/Images/6.png" class="img-responsive" style="display: block; margin: auto;"/>
            <br />
            <p>Nam bibendum mauris a maximus commodo. Ut vel lorem euismod, auctor lorem quis, vestibulum purus. Ut et imperdiet eros. Morbi euismod ipsum vitae vulputate venenatis. Curabitur sed velit ornare, fermentum purus ac, auctor magna. Proin iaculis lorem pretium est volutpat gravida. Quisque cursus libero blandit egestas rutrum. Donec cursus sit amet urna quis bibendum.</p>
        </div>
    </div>
</div>