@model Veterinary.Models.MyRegister

@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="background-color:coral; border:10px solid #ffd700; ">
        <h2 style="color:ghostwhite; text-align:center;">Thank You For Registering @Model.Name!!</h2>

        <h3 style="color:ghostwhite; text-align:center;">Your UserName is @Model.Email. </h3>

    </div>


