
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:ghostwhite; text-align:center;">Contact US</h2>
<div  class="container row col-md-8 " style="background-color:antiquewhite; color:black; margin:0;">
 
    <div class="col-md-5">

        <h4>Phone:</h4>
        <p>(000)-000-0000</p>

        <br />

        <h4>Fax:</h4>
        <p>(000)-123-0000</p>

        <br />

        <h4>Email:</h4>
        <p>CustomerService@WebsterCare.com</p>

    </div>

    <div class="col-md-5">
       
        <h4>Houston Office:(WHQ)</h4>
        <p>2008 Hudson Road, Suite 4001, Webster, Houston, 50087. </p>

        <br />

        <h4>New York Office:</h4>
        <p>2011 Madison Road, Suite 6002, Manhattan, New York, 44044. </p>

        <br />

        <h4>New York Office:</h4>
        <p>5000 Central Park Road, Suite 1307, Greenway Plaza, Philedelphia, 44044. </p>

    </div>

</div>